<a href="https://colab.research.google.com/github/manish866/DLithe_Intenship-Data-Science-/blob/main/Manish_Dongarekar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1  

Intro to 
data types

In [ ]:
type(0.836)

float

In [ ]:
type("Manish")

str

In [ ]:
type(1j + 2)

complex

List(Hetrogenious)

In [ ]:
#List 
li = ["str",1,0.835,'m']
print(li)

['str', 1, 0.835, 'm']

Tuple(Hetrogenious Imutable)

In [ ]:
#tuple
tu = ("str",2,0.2)
print(tu)

('str', 2, 0.2)

Dictionary(Key value pair)

In [ ]:
#Dictionary
d = {"Name":"Manish","roll":68,"semester":"IV"}
print(d)
type(d)

{'Name': 'Manish', 'roll': 68, 'semester': 'IV'}

dict

Arith. Operation and operators

In [ ]:
print(8+8)
print(8-9)
print(6**2)
print(7/3)
print(7==8)
print(10>5)

16
-1
36
2.3333333333333335
False
True

Assignement Operator

In [ ]:
x = 10

x+=10
print(x)

20

Logical Operator and or not

In [ ]:
# and operator
if(10==10 and 12==12):
  print("and is true")
else:

  print("False")

and is true

In [ ]:
#Or operator
if(10==10 or 12==15):
  print("and is true")
else:
  print("False")

and is true

In [ ]:
not (10==1)

True

###Day 2

In [ ]:
li = [1,3,4,6,8,9]
print(li)

[1, 3, 4, 6, 8, 9]

In [ ]:
li.append(69)
print(li)

[1, 3, 4, 6, 8, 9, 69]

In [ ]:
li.insert(0,69)
print(li)

[69, 1, 3, 4, 6, 8, 9, 69]

Extend function

In [ ]:
e1 = [1,3,5,7,9]
e2 = [2,4,6,8,10]
e1.extend(e2)
print(e1)
print(sum(e1))
print(e1.count(2))

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
55
1

In [ ]:
i1 = [1,2,3,4,5,6,7,8,9,10]
print(li.index(1))
print(max(i1))
print(min(i1))

1
10
1

In [ ]:
print(i1)

[1, 5, 6, 7, 8, 9, 10]

In [ ]:
x = 1
y = 9

m = 69
n = 96

m,n = n,m

t=x
x=y
y=t
print(x)
print(y)
print(m)
print(n)

9
1
96
69

String

In [ ]:
strr = 'manish          dgfhbjkjkl'
print(strr.capitalize())
print(strr.find('h'))
print(strr.upper())

Manish          dgfhbjkjkl
5
MANISH          DGFHBJKJKL
manish          dgfhbjkjkl

In [ ]:
na = "Manish"
su = "Dongarekar"
na+su

'ManishDongarekar'

In [ ]:
len(na)

6

###DAY 3

In [ ]:
dic = {"Name":"Manish","Age":22}
print(dic)
del dic["Age"]
print(dic)
dic ["PhNumber"] = 100
dic ["Message"] = "call me"
print(dic)

{'Name': 'Manish', 'Age': 22}
{'Name': 'Manish'}
{'Name': 'Manish', 'PhNumber': 100, 'Message': 'call me'}

In [ ]:
temp = dict(Brand="Ford",Model="Mustang",Price="6Cr")
print(temp)

{'Brand': 'Ford', 'Model': 'Mustang', 'Price': '6Cr'}

In [ ]:
this1 = ('mango','banana','orange','kiwi','melon','mango')
this1[5]

'mango'

In [ ]:
this1[3:5]

('kiwi', 'melon')

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = ('abc',3,4,'bnh')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'abc', 3, 4, 'bnh')

In [ ]:
tup = tuple('hello')
print(tup)

('h', 'e', 'l', 'l', 'o')

In [ ]:
#todo
tu1 = tuple('hello')
tu2 = tuple('world')
print(tu1 + tu2)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [ ]:
tu = tuple("hello",) *3
print(tu)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

###Conditional Statement

In [ ]:
string = "Manish"
if string == "manish":
  print('hello')
else:
  string = string*4
  print(string)

ManishManishManishManish

In [ ]:
i = 20
if (i<10):
  print("i is smaller than 10")
  print("if block")

else:
  print("i is greater or equal to 10")
  print("else block")

i is greater or equal to 10
else block

i is greater than 15

###Day 4

In [ ]:
#if and elif else
i = int(input("Enter value for i\n"))
if(i==20):
  print("i equals 20 and we are in if block")
elif(i==15):
  print("i is equal 15 and we are in if block")
else:
  print("if and elif block didn't executed")

Enter value for i
10
if and elif block didn't executed

In [ ]:
#short hand if statement (To-Do)
j = int(input("Enter j value\n"))
if(j<10):
  print("i less than 10")
else:
  print("i is greater than 10")

Enter j value
5
i less than 10

In [ ]:
#sum of natural value
limit = int(input("Enter Limit\n"))
sum = 1
for i in range(1,limit):
  sum+=i
print(sum)

Enter Limit
5
1
2
3
4
11

In [ ]:
name = str(input("Enter Name\n"))
for i in name:
  print(i)

Enter Name
Manish
M
a
n
i
s
h

In [ ]:
for i in "manish":
  if i=='n' or i=='h':
    break
print(i)

n

In [ ]:
x = 20
for i in range(x):
  print(i,end="+")

0+1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+

In [ ]:
#To Do sum from 1 to 10
sum = 0
for i in range(1,10):
  sum+=i
print(sum)

45

In [ ]:
#sum from 1 to 10 odd number
sum = 0
for i in range(1,10,2):
  print(i)
  sum+=i
print(sum)

1
3
5
7
9
25

In [ ]:
#while loop
i = 0
while(i<3):
  print("Manish\n")
  i+=1

Manish

Manish

Manish

###Day 5

In [ ]:
#Function to find number is odd or even
def oddeven(x):
  if(x%2==0):
    print("even")
  else:
    print("odd")

In [ ]:
i = int(input("Enter a number\n"))
oddeven(i)

Enter a number
616516531
odd

In [ ]:
#to-do sum of numbers
list1 = [1,2,3,5,6,"seyfbiufe","uyaegfyuq",4,6,]
sum = 0
for i in list1:
  if(type(i) == int):
    print(i)
    sum+=i
print(sum)

1
2
3
5
6
4
6
27

In [ ]:
#lambda Function
x = lambda z:z+5
print(x(5))

10

In [ ]:
def db(n):
  return lambda x:x*n
g = db(3)
print(g(6))

18

###Day 6 (10-03-2022)

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
# Importing the library

import pandas as pd
import numpy as np

In [ ]:
#series
data = [1,2,3,4,45,6,7,'m']
d = pd.Series(data)
print(d)

0     1
1     2
2     3
3     4
4    45
5     6
6     7
7     m
dtype: object

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd

s1=pd.Series([1,3,4,5,6,2,9])
s2=pd.Series([1.1,3.5,4.7,5.8,2,9,9.3])
s3=pd.Series(['a','b','c','d','e'])

Data={'first':s1,'second':s2,'third':s3}
df=pd.DataFrame(Data)
print(df)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.0     e
5      2     9.0   NaN
6      9     9.3   NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
df.loc[:,]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
# From Position 

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

A    2.5
C    1.0
D    5.0
dtype: float64

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
s = pd.Series(['Manish','Banglore','Dharwad',np.nan])

In [ ]:
s.str.upper()

0      MANISH
1    BANGLORE
2     DHARWAD
3         NaN
dtype: object

In [ ]:
s.str.lower()

0      manish
1    banglore
2     dharwad
3         NaN
dtype: object